* {
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    cursor: default;
}

h1, h2, p, a {
    color: #332E2F;
}

h1, h2 {
    font-weight: 400;
    letter-spacing: -.035em;
}

h1 {
    text-align: center;
    font-size: 5em;
    margin-bottom: .5em;
}

h2 {
    font-size: 3em;
}

p, a { 
    font-family: "futura-pt";
    font-weight: 400;
    font-size: 1.75em;
}

a {
    text-decoration: none;
}

h1, h2, .navigation-links a, .skills-content p {
    font-family: 'Barlow Condensed', sans-serif;
}

.main-dividing-line{
    width: 100%;
    height: 1px;
    background-color: #231F20;
    margin: 4em 0 3em;
}

.about, .skills, .projects, .contact, header img {
    width: 100%;
}

/* CONTENT */

.content {
    width: 70%;
    margin: 0 auto;
}

/* NAVIGATION */

.navigation {
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navigation-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navigation-links a {
    font-size: 1.5em;
    color: #675C5E;
    margin: .5em 0;
    text-align: center;
}

.navigation-links a:hover {
    color: #231F20;
}

.navigation-links span:hover {
    cursor: pointer;
}

/* ABOUT ME */
.about {
    margin-top: 2em;
}

.about-content {
    display: flex;
}

.about-content img {
    flex: 1;
    max-width: 100%;
    margin-top: .5em;
    border-radius: .2em;
}

.about-content-description {
    flex: 3;
    margin-left: 5%;
}

.about-content-description p:nth-of-type(2) {
    margin-top: 1em;
}

/* SKILLS */

.skills h1 {
    margin-bottom: 0;
}

.skills-content-holder {
    overflow: auto;
}

.skills-content {
    width: 33%;
    float: left;
    text-align: center;
    margin-top: 4em;
}

.skills-content img {
    min-height: 3.5em;
    clear: both;
    margin-bottom: 1em;
}

.skills-content p {
    font-size: 2.25em;
}

/* PROJECTS */

.projects h1 {
    margin-bottom: 0;
}

.project {
    margin-top: 2em;
}

.project-links {
    display: flex;
    justify-content: space-between;
    margin: 1em 0 3em;
}

.project-links a {
    color: rgba(75,136,171);
}

.project-links a:hover {
    color: rgba(75,136,171, .8);
    cursor: pointer;
}

.project-image-holder {
    text-align: center;
    margin-bottom: 3em;
}

.project-image {
    width: 75%;
    cursor: pointer;
    border: .05em solid rgba(0,0,0,0);
    border-radius: .15em;
}

.project-image:hover {
    border: 1px solid black;
}

.project h2 {
    margin-bottom: .5em;
}

.project-description p, .contact p, .about-content p  {
    line-height: 1.5em;
}

.project-name {
    text-align: center;
    margin-bottom: 1em;
    font-size: 2.5em;
    line-height: 1.1em;
    font-size: 4em;
}

.github-link a {
    font-size: 1em;
}

.project-name a:hover {
    cursor: pointer;
    opacity: .6;
}

.project-code {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
}

.project-code-image {
    flex: 1;
    text-align: center;
}

.project-code-image img {
    max-width: 3em;
}

/* CONTACT */

.contact {
    margin-bottom: 5.5em;
}

.contact-email h2, .contact-social h2 {
    margin-bottom: .5em;
}

.contact-email, .contact-social {
    width: 50%;
    margin-top: 2em;
}

.contact-social img {
    width: 1.5em;
    margin-left: .5em;
}

.contact-social img:hover {
    opacity: .7;
}

.contact-email {
    float: left;
}

.contact-email a {
    font-size: 1em;
}

.contact-email a:hover {
    opacity: .6;
    cursor: pointer;
    color: #231F20;
}

.contact-social {
    float: right;
    text-align: right;
}

.contact-social img {
    width: 2.5em;
    cursor: pointer;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 3000px) {
    h1 {
        font-size: 7em;
    }

    h2 {
        font-size: 5em;
    }

    p {
        font-size: 3.5em !important;
    }

    .navigation-links a, .project-links a {
        font-size: 2.75em;
    }

    .github {
        width: 2.5em;
    }

    .skills-content img {
        height: 10em;
        margin-bottom: 1.5em;
    }

    .skills-content p {
        font-size: 4em;
    }
    
    .contact-social a img {
        width: 3em;
        margin-left: 1em;
    }
}

@media only screen and (max-width: 2000px) {
    h1 {
        font-size: 5em;
    }

    h2 {
        font-size: 3em;
    }

    p {
        font-size: 1.75em !important;
    }

    .navigation-links a, .project-links a {
        font-size: 1.75em;
    }

    .github {
        width: 1.75em;
    }

    .skills-content img {
        height: 6em;
        margin-bottom: .5em;
    }

    .skills-content p {
        font-size: 2.25em;
    }

    
    .contact-social a img {
        width: 1.5em;
        margin-left: .5em;
    }
}

@media only screen and (max-width: 1250px) {
    p {
        font-size: 1.5em !important;
    }
}

@media only screen and (max-width: 1000px) {
    .project-image {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2em;
    }

    p, .navigation a {
        font-size: 1em !important;
    }

    .content {
        width: 90%;
    }

    iframe {
        width: 100%;
        max-height: 200px;
    }

    /* ABOUT ME */

    .about h1 {
        margin-bottom: 0;
    }

    .about-content {
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    .about-content img {
        display: none;
    }

    .about-content-description {
        margin: 1em 0 0;
        text-align: left;
    }

    .main-dividing-line {
        margin: 3em 0 2em;
    }

    /* SKILLS */

    .skills-content {
        width: 50%;
        margin-top: 1.5em;
    }

    .skills-content img {
        width: 3em;
        height: auto;
    }

    /* PROJECTS */

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.75em;
    }

    .project-links a {
        font-size: 1em;
    }

    .project-links {
        margin: 1em 0 1em;
    }

    .project-name {
        font-size: 1.75em;
    }

    .project-image-holder {
        margin-bottom: 1.5em;
    }

    .project-image {
        width: 100%;
    }

    .github {
        width: 1.25em;
    }

    .contact-social a img {
        width: 1em;
    }
}