.about {
  margin-top: 2em;

  &-content {
    display: flex;

    img {
      flex: 1;
      max-width: 100%;
      margin-top: 0.5em;
      border-radius: 0.2em;
    }
  }

  &-content-description {
    flex: 3;
    margin-left: 5%;
  
    p:nth-of-type(2) {
      margin-top: 1em;
    }
  }
}