.contact {
  margin-bottom: 5.5em;
}

.contact-email,
.contact-social {
  width: 50%;
  margin-top: 2em;
  h3 {
    margin-bottom: 0.5em;
  }
}

.contact-email {
  float: left;

  a {
    font-size: 1em;

    &:hover {
      opacity: 0.6;
      cursor: pointer;
      color: #231F20;
    }
  }
}

.contact-social {
  float: right;
  text-align: right;

  img {
    margin-left: 0.5em;
    width: 2.5em;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}
