.projects {
  h2 {
    margin-bottom: 0;
  }
}

.project {
  margin-top: 2em;

  h3 {
    margin-bottom: 0.5em;
  }

  &-links {
    display: flex;
    justify-content: space-between;
    margin: 1em 0 3em;
  
    a {
      color: rgba(75, 136, 171);
  
      &:hover {
        color: rgba(75, 136, 171, 0.8);
        cursor: pointer;
      }
    }
  }

  &-image {
    width: 75%;
    border: 0.05em solid rgba(0, 0, 0, 0);
    border-radius: 0.15em;

    &-holder {
      text-align: center;
      margin-bottom: 3em;
    }
  }

  &-name {
    text-align: center;
    margin-bottom: 1em;
    font-size: 2.5em;
    line-height: 1.1em;
    font-size: 4em;
  
    a:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }

  &-code {
    margin-top: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-image {
      flex: 1;
      text-align: center;
    
      img {
        max-width: 3em;
      }
    }
  }
}

.project-description,
.contact,
.about-content {
  p {
    line-height: 1.5em;
  }
}

.github-link {
  a {
    font-size: 1em;
  }
}
