.skills {
  h2 {
    margin-bottom: 0;
  }
}

.skills-content-holder {
  overflow: auto;
}

.skills-content {
  width: 33%;
  float: left;
  text-align: center;
  margin-top: 4em;

  img {
    min-height: 3.5em;
    clear: both;
    margin-bottom: 1em;
  }

  p {
    font-size: 2.25em;
  }
}
