* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor: default;
}

h1, h2, h3, h4, h5, h6, p, a {
    color: #332E2F;
}

h2, h3 {
    font-weight: 400;
    letter-spacing: -.035em;
}

p, a { 
    font-family: "futura-pt";
    font-weight: 400;
    font-size: 1.75em;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .NavigationLinks a, .SkillsContent p {
    font-family: 'Barlow Condensed', sans-serif;
}

.mainDividingLine {
    height: 1px;
}

.projectDividingLine {
    height: 0;
}

.mainDividingLine, .projectDividingLine {
    width: 100%;
    background-color: #231F20;
    clear: both;
    float: left;
}

.mainDividingLine {
    margin: 5.5em 0 4em;
}

.projectDividingLine {
    margin: 5.5em 0;
}

.AboutMe, .Skills, .Projects, .Contact {
    overflow: auto;
    float: left;
    width: 100%;
    clear: both;
}

/* HEADER */

.Header img {
    width: 100%;
    margin-bottom: 1em;
}

/* CONTENT */

.Content {
    width: 70%;
    margin: 0 auto;
}

/* NAVIGATION */

.Navigation {
    overflow: auto;
    width: 100%;
    background-color: white;
    border: 1px solid #231F20;
    border-radius: .15em;
    display: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.sticky {
    display: block;
    width: 70%;
    position: fixed;
    bottom: 0;
    animation: fadein .5s;
}

.NavigationLinks {
    width: 92.5%;
    margin: 0 auto;
}

.NavigationLinks a {
    float: left;
    width: 20%;
    font-size: 1.5em;
    color: #675C5E;
    margin: .5em 0;
    text-align: center;
}

.NavigationLinks a:hover {
    color: #231F20;
}

.NavigationLinks a span:hover {
    cursor: pointer;
}

/* ABOUT ME */

.AboutMe {
    margin-top: 4em;
}

.AboutMeContent p, .AboutMeContent img {
    float: left;
}

.AboutMeContent img {
    width: 20%;
    margin-top: .5em;
    border-radius: .2em;
}

.AboutMeContent p {
    width: 75%;
    margin-left: 5%;
}

/* SKILLS */

.Skills h2 {
    margin-bottom: 0 !important;
}

.SkillsContent {
    width: 33%;
    float: left;
    text-align: center;
    margin-top: 4em;
}

.SkillsContent img {
    height: 6em;
    clear: both;
    margin-bottom: .5em;
}

.SkillsContent p {
    font-size: 2.25em;
}

/* PROJECTS */

h2 {
    text-align: center;
    font-size: 5em;
    margin-bottom: .75em;
}

.Project {
    overflow: auto;
}

.ProjectImage {
    width: 100%;
    cursor: pointer;
    border: 1px solid #231F20;
    border-radius: .15em;
    margin-bottom: 3em;
}

.Project h3 {
    margin-bottom: .5em;
}

.ProjectDescription, .ProjectCode {
    width: 50%;
    float: left;
}

.ProjectDescription {
    text-align: left;
}

.ProjectDescription p, .Contact p, .AboutMeContent p  {
    line-height: 1.5em;
}

.ProjectCode {
    margin-top: .5em;
    text-align: right;
}

.ProjectCodeImage {
    width: 3em;
    margin-left: 1em;
}

.GitHub {
    width: 1.75em;
    margin-left: .25em;
    cursor: pointer;
}

/* CONTACT */

h3 {
    font-size: 3em;
}

.Contact {
    margin-bottom: 5.5em;
}

.ContactEmail, .ContactSocial {
    width: 50%;
    margin-top: 3em;
}

.ContactEmail h3, .ContactSocial h3 {
    margin-bottom: .5em;
}

.ContactSocial a img {
    width: 1.5em;
    margin-left: .5em;
}

.ContactEmail {
    float: left;
}

.ContactEmail p a {
    font-size: 1em;
}

.ContactEmail p a:hover {
    cursor: pointer;
    color: #231F20;
}

.ContactSocial {
    float: right;
    text-align: right;
}

.ContactSocial img {
    width: 2.5em;
    cursor: pointer;
}