* {
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    cursor: default;
}

h1, h2, h3, h4, h5, h6, p, a {
    color: #332E2F;
}

h2, h3 {
    font-weight: 400;
    letter-spacing: -.035em;
}

p, a { 
    font-family: "futura-pt";
    font-weight: 400;
    font-size: 1.75em;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .NavigationLinks a, .SkillsContent p {
    font-family: 'Barlow Condensed', sans-serif;
}

.mainDividingLine {
    height: 1px;
}

.projectDividingLine {
    height: 0;
}

.mainDividingLine, .projectDividingLine {
    width: 100%;
    background-color: #231F20;
    clear: both;
    float: left;
}

.mainDividingLine {
    margin: 5.5em 0 4em;
}

.projectDividingLine {
    margin: 5.5em 0;
}

.AboutMe, .Skills, .Projects, .Contact {
    overflow: auto;
    float: left;
    width: 100%;
    clear: both;
}

/* HEADER */

.Header img {
    width: 100%;
    margin-bottom: 1em;
}

/* CONTENT */

.Content {
    width: 70%;
    margin: 0 auto;
    overflow: auto;
}

/* NAVIGATION */

.Navigation {
    overflow: auto;
    width: 100%;
    background-color: white;
    border: 1px solid #231F20;
    border-radius: .15em;
    display: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.sticky {
    display: block;
    width: 70%;
    position: fixed;
    bottom: 0;
    animation: fadein .5s;
}

.NavigationLinks {
    width: 92.5%;
    margin: 0 auto;
}

.NavigationLinks a {
    float: left;
    width: 20%;
    font-size: 1.5em;
    color: #675C5E;
    margin: .5em 0;
    text-align: center;
}

.NavigationLinks a:hover {
    color: #231F20;
}

.NavigationLinks a span:hover {
    cursor: pointer;
}

/* ABOUT ME */

.AboutMe {
    margin-top: 4em;
}

.AboutMeContent p, .AboutMeContent img {
    float: left;
}

.AboutMeContent img {
    width: 20%;
    margin-top: .5em;
    border-radius: .2em;
}

.AboutMeContent p {
    width: 75%;
    margin-left: 5%;
}

/* SKILLS */

.Skills h2 {
    margin-bottom: 0 !important;
}

.SkillsContent {
    width: 33%;
    float: left;
    text-align: center;
    margin-top: 4em;
}

.SkillsContent img {
    height: 6em;
    clear: both;
    margin-bottom: .5em;
}

.SkillsContent p {
    font-size: 2.25em;
}

/* PROJECTS */

h2 {
    text-align: center;
    font-size: 5em;
    margin-bottom: .75em;
}

.Project {
    overflow: auto;
    text-align: center;
}

.ProjectImage {
    width: 60%;
    cursor: pointer;
    border: .05em solid rgba(0,0,0,0);
    border-radius: .15em;
    margin-bottom: 1.5em;
}

.ProjectImage:hover {
    opacity: .9;
}

.Project h3 {
    margin-bottom: .5em;
}

.ProjectDescription, .ProjectCode {
    width: 50%;
    float: left;
}

.ProjectDescription {
    text-align: left;
}

.ProjectDescription p, .Contact p, .AboutMeContent p  {
    line-height: 1.5em;
}

.ProjectDescriptionLink a {
    display: inline-block;
    color: #5AA0C9;
    margin-bottom: .25em;
    font-size: 1.75em;
    line-height: 1.1em;
}

.GitHubLink a {
    font-size: 1em;
}

.ProjectDescriptionLink a:hover {
    cursor: pointer;
    opacity: .6;
}

.ProjectCode {
    margin-top: .5em;
    text-align: right;
}

.ProjectCodeImage {
    width: 3em;
    margin-left: 1em;
}

.GitHub {
    width: 1.75em;
    margin-left: .5em;
    cursor: pointer;
}

.ProjectsSmall {
    overflow: auto;
    margin-top: 5em;
}

.ProjectSmall {
    display: inline-block;
    width: 33%;
    margin: 1em 0;
}

.ProjectSmall img {
    width: 90%;
    cursor: pointer;
    border: .05em solid rgba(0,0,0,0);
    border-radius: .15em;
}

.ProjectSmall img:hover {
    opacity: .8;
}

.selected {
    opacity: .5;
}

/* CONTACT */

h3 {
    font-size: 3em;
}

.Contact {
    margin-bottom: 5.5em;
}

.ContactEmail, .ContactSocial {
    width: 50%;
    margin-top: 3em;
}

.ContactEmail h3, .ContactSocial h3 {
    margin-bottom: .5em;
}

.ContactEmail a:hover {
    opacity: .6;
}

.ContactSocial a img {
    width: 1.5em;
    margin-left: .5em;
}

.ContactSocial a img:hover {
    opacity: .7;
}

.ContactEmail {
    float: left;
}

.ContactEmail p a {
    font-size: 1em;
}

.ContactEmail p a:hover {
    cursor: pointer;
    color: #231F20;
}

.ContactSocial {
    float: right;
    text-align: right;
}

.ContactSocial img {
    width: 2.5em;
    cursor: pointer;
}

@media only screen and (max-width: 3000px) {
    h2 {
        font-size: 7em;
    }

    h3 {
        font-size: 5em;
    }

    p {
        font-size: 3.5em !important;
    }

    .ProjectCodeImage {
        width: 4em;
    }

    .GitHub {
        width: 2.5em;
    }

    .SkillsContent img {
        height: 10em;
        margin-bottom: 1.5em;
    }

    .SkillsContent p {
        font-size: 4em;
    }

    
    .ContactSocial a img {
        width: 3em;
        margin-left: 1em;
    }
}

@media only screen and (max-width: 2000px) {
    h2 {
        font-size: 5em;
    }

    h3 {
        font-size: 3em;
    }

    p {
        font-size: 1.75em !important;
    }

    .ProjectCodeImage {
        width: 3em;
    }

    .GitHub {
        width: 1.75em;
    }

    .SkillsContent img {
        height: 6em;
        margin-bottom: .5em;
    }

    .SkillsContent p {
        font-size: 2.25em;
    }

    
    .ContactSocial a img {
        width: 1.5em;
        margin-left: .5em;
    }
}

@media only screen and (max-width: 1250px) {
    p {
        font-size: 1.5em !important;
    }
}

@media only screen and (max-width: 1000px) {
    .ProjectImage {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    h2 {
        font-size: 2em;
    }

    .Navigation {
        width: 90%;
    }

    p, .Navigation a {
        font-size: 1em !important;
    }

    .Content {
        width: 90%;
    }

    /* ABOUT ME */

    .AboutMe {
        margin: 1em;
    }

    .AboutMe h2 {
        margin-bottom: 0;
        width: 90%;
    }

    .AboutMeContent {
        margin: 0 auto;
        text-align: center;
    }

    .AboutMeContent img {
        display: none;
    }

    .AboutMeContent p {
        width: 90%;
        margin: 1em 0 0;
        text-align: left;
    }

    .mainDividingLine {
        margin: 2em 0;
    }

    /* SKILLS */

    .SkillsContent {
        width: 50%;
        margin-top: 1.5em;
    }

    .SkillsContent img {
        width: 3em;
        height: auto;
    }

    /* PROJECTS */

    h3 {
        font-size: 1.75em;
    }

    .ProjectsSmall {
        margin-top: 1.5em;
    }

    .ProjectSmall {
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
    }

    .ProjectCodeImage {
        width: 2em;
    }

    .ProjectImage {
        width: 100%;
    }

    .GitHub {
        width: 1.25em;
    }

    .ContactSocial a img {
        width: 1em;
    }
}